.mrg-t {
  margin-top: -80px;
}

@media (max-width:500px) {
  .mrg-t {
    margin-top: -52px;
  }
}

.mt-4 {
  margin-top: 20px;
}

.m-r {
  margin-right: 10px;
}

.btn-success {
  background-color: #32be8f;
}

.text-danger {
  margin-top: -16px;
}
