<div class="jumbotron text-center bg">
  <h2>Profile</h2>
  <div class="container row">
    <div class="col-lg-4  col-md-6 col-sm-12"></div>
    <div class="col-lg-6 col-md-6 col-sm-12  card text-center align wdth">
      <div class="text-center ">
        <img src="/assets/images/user.jpg" class="rounded-circle m-t-p">
        <i class="fa fa-camera icn"></i>
        <h6 class="p-t">{{proObj.username}}</h6>
        <span class="view">{{proObj.email}}</span>
      </div>
      <div class="row">
        <hr>
      </div>
      <div>
        <div class="row ">
          <div class="col-lg-8 col-md-12 col-sm-12">
            <i class="fa fa-user-circle icns nowrap" aria-hidden="true">
              <span class="clr">{{proObj.username}}</span>
            </i>
          </div>
        </div>

        <div class="row ">
          <div class="col-lg-8 col-md-12 col-sm-12">
            <i class="fa fa-envelope icns nowrap" aria-hidden="true">
              <span class="clr">{{proObj.email}}</span>
            </i>
          </div>
        </div>
        <div class="row ">
          <div class="col-lg-8 col-md-12 col-sm-12">
            <i class="fa fa-phone  icns nowrap" aria-hidden="true">
              <span class="clr">{{proObj.phone}}</span>
            </i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container row">
  <div class="col-lg-7 col-md-8 col-sm-12"></div>
  <div class="col-lg-5 col-md-6 col-sm-12 m-t">
    <input type="submit" class="btn" value="Logout" (click)="Logout()">
  </div>

</div>
